<section class="newsletter-box inner-wide">
    <div class="inner">
        <h2 class="newsletter-box-title">Subscribe to {{ site.name }}&rsquo;s newsletter</h2>
        <p>Get the latest and greatest from {{ site.name }} delivered straight to your inbox every week.</p>
        <!-- Begin MailChimp Signup Form
        <div id="mc_embed_signup">
            <form action="{{ site.mailchimp_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate gh-subscribe-form" target="_blank" novalidate>
                <label for="mce-EMAIL" class="screen-reader-text">Email Address</label>
                <input type="email" value="" name="EMAIL" class="required email subscribe-email" id="mce-EMAIL" placeholder="Your email address">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>
        </div>
        <!--End mc_embed_signup-->
        <!-- Test Sendfox -->
        <div id="mc_embed_signup">
          <form method="post" action="https://sendfox.com/form/m7qyd1/19edvx" class="sendfox-form" id="19edvx" data-async="true">
            <p><input type="email" placeholder="Email" name="email" required /></p>
            <!-- no botz please -->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
            <p><button type="submit">Subscribe</button></p>
          </form>
          <script src="https://sendfox.com/js/form.js"></script>
        </div>
        <!-- End Sendfox Signup -->
    </div><!-- .inner -->
</section><!-- .widget -->

<form method="post" action="https://sendfox.com/form/m7qyd1/19edvx" class="sendfox-form" id="19edvx" data-async="true">
<p><input type="email" placeholder="Email" name="email" required /></p>
<!-- no botz please -->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
<p><button type="submit">Subscribe</button></p>
</form>
<script src="https://sendfox.com/js/form.js"></script>
			
